@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color : gold;    
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}


header {
    background-color: #000;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
}

.logo{
    text-decoration: none;
    color: var(--color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
    transition: 0.7s ease;
}
.logo-text:hover{
    color: #fff;
}

.navigation a{
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding: 0px 15px;
    transition: 0.3s;
}

.navigation a:hover{
    color: var(--color);
    border-bottom: 1px solid var(--color);
    padding: 0px 15px 5px;
}


header nav button{
    background: none;
    border: none;
    user-select: none;
    padding-top: 10px;
}

/* button i{
    color: var(--color);
    font-size: 1.6em;
} */

button span{
    display: block;
    width: 25px;
    height: 2px;
    background-color: var(--color);
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
    margin-bottom: 5px;
    align-items: center;
}


@media (min-width: 494px) {
    header nav .menu{
        display: none;
    }
}

@media (max-width: 493px) {
    nav{
        position: relative;
    }

    header nav .navigation{
        display: none;
        background-color: var(--color);
        position: absolute;
        right: 0;
        flex-wrap: wrap;
        /* width */
        flex-direction: column;
        top: calc(100% + 11px);
    }

    header nav .navigation::before{
        content: "";
        border-width: 8px;
        border-style: solid;
        border-color: transparent transparent var(--color);
        position: absolute;
        right: 2px;
        top: -16px;
    }

    .navigation a:hover{
        color: #000;
    }

    }

nav .navigation.is-active {
    display: flex;

}

header nav .menu.is-active + .navigation a{
    font-size: 1.3em;
    padding: 10px ;
}



.menu.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}
.menu.is-active span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px)
}
.menu.is-active span:nth-child(3) {
    transform: translate(-2px, 2px) rotate(-45deg);
}





section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../imags/background.png) no-repeat;
    background-color: black;
    background-size: contain;
    background-position: right center;
    /* background-attachment: fixed; */
}

.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 700;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: var(--color);
    font-size: 3em;
    font-weight: 700;
}

.main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: #fff;
    background-color: var(--color);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: var(--color);
    transform: scale(1.1);
}

.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
    transition: 0.7s ease;
}

.social-icons a:hover{
    color: var(--color);
}

.title {
    display: flex;
    justify-content: center;
    color: var(--color);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.about{
    background-color: #000;
    border-top: #fff 0.5px solid;
}


.about-img i{
    color: var(--color);
    font-size: 12em;
    margin-right: 100px;
}

.about-text{
    width: 40em;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    padding: 40px 0;
}


.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card .icon {
    color: var(--color);
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3{
    color: var(--color);
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}


.projects {
    background-color: #000;
}


.project-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
   transform: scale(1.05);
}

.project-card:hover .project-image {
    opacity: 0.9;
 }

.project-image img{
    width: 100%
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: #000;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: var(--color);
}

.more-details:hover {
    color: #000;
}
  



.contact .icon{
    font-size: 4.5em;
}

.contact .info h3 {
    color: #000;
}

.contact .info p {
    font-size: 1.5em;
}

.contact a{
    text-decoration: none;
    color: #000;
}



.footer {
    background-color: #000;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: var(--color);
}

.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
}


@media (min-width : 800px) and (max-width : 1100px) {
    header {
        padding: 10px 100px ;
    }

    section {
        padding: 70px 100px;
    }

    .about-text{
        font-size: 1em;
    }

}


@media (max-width : 800px) {
    .main{
        background-size: auto;
        background-position: center;
    }

    body{
        font-size: 10px;
    }
    
    header {
        padding: 10px ;
    }

    .navigation a{
        padding:0 2px;
    }

    section {
        padding: 70px 10px 0 0;
    }
    
    .footer {
        padding:0 18px;
    }
    
    .footer .social-icons a{
        padding:0 1px;
    }
    
    p{
        font-size: 8px;
    }

    .about-text {
        padding:0 10% 25px;
        margin: 2em;

    }

    .about-img i{
        font-size: 6em;
        margin-right: 0px;}
    
    .card .icon {
    font-size: 6em;
    }
}
